@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
      warn: mat.$red-palette,
    ),
    // typography: Roboto,
    // density: 0,
  ));
}

body {
  color-scheme: light;
}
