/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    --color-secondary: #DDF6D2;
    --color-secondary-hover: #CAE8BD;
    --color-secondary-active: #B0DB9C;

    --color-primary: #b0c2b2;
    --color-primary-hover: #bad6bd;
    --color-primary-active: #bceec2;

    --color-white: #fff8e7;
    --color-dark-matcha: #535a4f;
}

@layer base {
    body {
        font-family: 'Pally', sans-serif;
        @apply bg-white text-gray-900;
    }

    section {
        @apply p-4 m-4 bg-primary rounded-2xl flex flex-col items-center;
    }

    h1 {
        @apply text-3xl font-bold mb-2 text-dark-matcha;
    }

    h2 {
        @apply text-xl font-bold mb-4;
    }

    button {
        @apply px-4 py-2 bg-secondary hover:bg-secondary-hover active:bg-secondary-active rounded-full transition-all duration-300;
    }
    
    strong {
        @apply font-bold;
    }

    a {
        @apply text-white hover:text-primary-hover active:text-primary-active transition-all duration-300 cursor-pointer;
    }
}




/* ----------- Custom classes ------------- */
.main {
    @apply m-auto max-w-3xl;
}

.book-grid {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 
    items-stretch justify-items-center
    text-xs sm:text-sm md:text-base
}