/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    --color-primary: #b0c2b2;
    --color-primary-hover: #bad6bd;
    --color-primary-active: #bceec2;

    --color-secondary: #DDF6D2;
    --color-secondary-hover: #CAE8BD;
    --color-secondary-active: #B0DB9C;

    --color-white: #fff8e7;
    --color-dark-matcha: #50584c;

    --color-glow: #0000004f;
}

@layer base {
    body {
        font-family: 'Pally', sans-serif;
        @apply bg-white text-gray-900;
    }

    section {
        @apply p-10 m-4 bg-primary rounded-2xl flex flex-col items-center;
    }

    h1 {
        @apply text-4xl md:text-5xl font-bold mb-2 tracking-tight;
    }

    h2 {
        @apply text-2xl md:text-3xl font-bold mb-2 text-dark-matcha;
    }

    button {
        @apply px-4 py-2 bg-secondary hover:bg-secondary-hover active:bg-secondary-active disabled:bg-gray-400 text-dark-matcha
        rounded-full transition-all duration-300;
    }
    
    strong {
        @apply font-bold;
    }

    a {
        @apply text-xl sm:text-3xl text-white hover:text-primary-hover active:text-primary-active 
        transition-all duration-300 cursor-pointer;
    }
}




/* ----------- Custom classes ------------- */
.main {
    @apply m-auto flex max-w-5xl items-center justify-center;
}

.book-grid {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 
    items-stretch justify-items-center
    text-xs sm:text-sm md:text-base
}