/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    --color-secondary: #DDF6D2;
    --color-secondary-hover: #CAE8BD;
    --color-secondary-active: #B0DB9C;

    --color-primary: #dfd7ff;
    --color-primary-hover: #d0c3ff;
    --color-primary-active: #b8a4ff;

    --color-white: #fff8e7;
    --color-dark-matcha: #535a4f;
}

@layer base {
    body {
        font-family: 'Pally', sans-serif;
        /* You can still use Tailwind's @apply for other utilities: */
        @apply bg-white text-gray-900;
    }

    section {
        @apply p-2 m-2 bg-primary rounded-2xl flex flex-col items-center;
    }

    h1 {
        @apply text-4xl font-bold mb-2 text-dark-matcha;
    }

    h2 {
        @apply text-2xl font-bold mb-4;
    }

    button {
        @apply px-4 py-2 bg-secondary hover:bg-secondary-hover active:bg-secondary-active rounded-full transition-all duration-300;
    }
    
    strong {
        @apply font-bold;
    }

    a {
        @apply text-white hover:text-primary-hover active:text-primary-active transition-all duration-300 cursor-pointer;
    }
}