<mat-card class="h-full flex flex-col">
    <img mat-card-image [src]="coverImg" alt="Book cover"/>
    <mat-icon class="absolute z-100 self-end m-2" (click)="toggleFavorite()" [fontIcon]="favorite ? 'star' : 'star_border'"></mat-icon>
    <mat-card-header class="flex flex-col items-start">
        <strong>{{ book.title ? book.title : 'Untitled' }}</strong>
        <p>{{ book.author ? book.author : 'Unknown Author' }}</p>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>